.task
.gotmp
/.gotmp-ci
.claude
.idea
.tmp-test-files
/bin/
/dist
/src/novera
/src/novera.exe
/src/frontend/dist/
/src/frontend/node_modules/
/src/build/linux/appimage/build/
/src/build/windows/nsis/MicrosoftEdgeWebview2Setup.exe
/src/build/android/.gradle/
/src/build/android/build/
/src/build/android/app/build/
/src/build/android/local.properties
/src/*.syso
